@charset "ISO-8859-1";

.highlighted {
	font-weight:bold;
}

#cart-panel {padding-bottom:1em;}
#cart-panel h2, #cart-panel h4 {
	font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
}
#cart-panel h4 {
	font-family: 'Inknut Antiqua', Verdana, Geneva, Tahoma, sans-serif;
}
#cart-table {
	margin:0 auto;
	margin-top:2em;
}
.cartDetailHeader {
	margin-top:3em;
}
.cartDetailHeader span {
	padding-left:1em;
	padding-right:1em;
}
#cart-table td, #cart-table th {
	background-color:white;/*rgb(223, 223, 223);*/
	border:1px solid gray;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
}
#cart-table img {
	height:5em;
}
.cart_image_panel {
	background-color:white;
	
}
.cart_subtotal_panel {
	font-weight:bold;
}
.inactive {
	color:gray;
}