@charset "ISO-8859-1";

.highlighted {
	font-weight:bold;
}

#checkout-panel {padding-bottom:1em;}
#checkout-panel h2, #checkout-panel h4 {
	font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
}
#checkout-panel h4 {
	font-family: 'Inknut Antiqua', Verdana, Geneva, Tahoma, sans-serif;
}
#checkout-table {
	margin:0 auto;
	margin-top:2em;
}
#checkout-table td, #checkout-table th {
	background-color:white;/*rgb(223, 223, 223);*/
	border:1px solid gray;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
}
#checkout-table img {
	height:2em;
}
.checkout_image_panel {
	background-color:white;
	
}
.checkout_subtotal_panel {
	font-weight:bold;
}
.checkoutHeader {
	margin-top:2em;
	margin-bottom:1em;
}
.checkoutHeader span {
	padding-left:1em;
	padding-right:1em;
}

#customer-panel {padding-bottom:1em;}
#customer-panel h2 {
	font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
}
#customer-panel h4 {
	font-family: 'Inknut Antiqua', Verdana, Geneva, Tahoma, sans-serif;
}
#customer-table {
	margin:0 auto;
	margin-top:2em;
}
#customer-table td {
	width:8em;
/*	border:1px solid black;*/
}

button {margin-top: 1.5em;}

#customer-panel input, #customer-panel select {
    margin-bottom:.5em;
    background-color:white;
    color:black;
}
#customer-panel input::placeholder {
	color:black;	
}
.customer_td_label {
	text-align:right;
	padding-bottom:.5em;
	padding-right:.5em;
}
.customer_td_input {
	text-align:left;
}
.text-field {
    width:16em;
}
#customer-panel p {
	margin-top:.75em;
	margin-bottom:.5em;
}
#customer-panel p span {
	font-size:.75em;
}
#city {width:13em;}
