@charset "ISO-8859-1";
	   #center-content p {
			font-family: 'Inknut Antiqua', Verdana, Geneva, Tahoma, sans-serif;
			font-size: 4em;
		}
		#center-content img {
			margin-top:2em;
			width:40%;
			opacity:88%;
		}
		table { margin:0 auto; }
		td {
			font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
			margin: 4em;
		}
		header {
			background-color:#FF9999;
		}
		#side-nav {
			background-color:#FF9999;
			height:180%;
		}
body {background-color:#FFCCCC;}