@charset "ISO-8859-1";

#order-panel {padding-bottom:1em;}
#order-panel h2, #order-panel h4 {
	font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
}
#order-panel h4 {
	font-family: 'Inknut Antiqua', Verdana, Geneva, Tahoma, sans-serif;
}
#order-table {
	margin:0 auto;
	margin-bottom:2em;
}
.orderDetailHeader {
	margin-top:3em;
}
.orderDetailHeader span {
	padding-left:1em;
	padding-right:1em;
}
#order-table td, #order-table th {
	background-color:white;/*rgb(223, 223, 223);*/
	border:1px solid gray;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
}
#order-table img {
	height:5em;
}
.order_image_panel {
	background-color:white;
	
}
.order_subtotal_panel {
	font-weight:bold;
}