@charset "ISO-8859-1";
#center-content {
	margin-left: 8em;
	margin-right: 8em;
}
#registration-panel {
 	float:none;
}
#registration-panel h2 {
    font-family: 'Gravitas One', Verdana, Geneva, Tahoma, sans-serif;
}
form input {
    margin-bottom:1em;
}
form .text-field {
    width:16rem;
}
#city {width:13rem;}
.image-buffer {
	height:20rem;
}
#left-img-content {
    float:left;
    position:absolute;
/*     top:20rem; */
    left:10%;
    z-index:-1;
}
#left-img-content img {
    height:20rem;
}
#right-img-content {
    float:right;
    position:absolute;
/*     top:20rem; */
    right:10%;
    z-index:-1;
}
#right-img-content img {
    height:20rem;
}
.has-error {
	color:#cc0000;
}